@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');


html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	color: #222;
}

#loader{
	display: none;
	position: absolute;
	left: 0px;
	top: 0;
}

.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 4;
	opacity: 0.3;
	background: url(../Images/Preloader_11.gif) center no-repeat #fff;
}


img {
	height:70%;
}

.contentbox{

}

.cfl_on{
	background: url(ornaments/cfl_on.png);

	background-position: center;
    background-repeat: no-repeat;

}

.conts{
		height: 10%;
		width:100%;
}

.box_1{
	box-shadow: 0 14px 28px rgba(201, 73, 249,0.25), 0 10px 10px rgba(201, 73, 249,0.22);
	text-align: center;
	display: grid;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(229, 232, 232, 0.27);
}
.box_2{
	/*box-shadow: 0 14px 28px rgba(201, 73, 249,0.25), 0 10px 10px rgba(201, 73, 249,0.22);*/
	text-align: center;
	display: grid;
	margin: 10px auto;
	padding: 10px;
	background-color: rgba(209, 175, 245, 0.27);
}
.box_3{
	text-align: center;
	width: 70%;
	padding: 10px;
	margin-left: 6rem;
}

/*--------------------------Input style-----------------------*/
input {
	outline: none;
	border: none;
}

input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

/*------------------------------------------------------------*/

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: rgba(151, 212, 249, 0.8);
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #57b846;
  padding-left: 28px;
}
/*------------------------------------------------------------*/

/*--------------BUTTON------------------------*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #57b846;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #333333;
}

/*------------------------------------------------------------*/

.content{
	position: absolute;
	width: 100%;
	height: 100%;
}

.btn-tertiary{
	background-color:#1ABC9C;
}

.boxed {
	border: 1px solid #1ABC9C ;
  }

.navbar {
	padding: .8rem;
	background-color: #19191E;
}
.bg-class {
	color: #C39BD3;
}
.navbar-nav li{
	padding-right: 20px;
}

.nav-link{
	font-size: 1.1em !important;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}

.carousel-caption{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}


.carousel-caption h1{
	font-size: 500%;
	text-transform: uppercase;
	text-shadow: 1px 1px 15px #000;
}

.carousel-caption h3{
	font-size: 200%;
	font-weight: 500;
	text-shadow: 1px 1px 10px #000;
	padding-bottom: 1rem;
}

.btn-primary{
	background-color: #6648b1;
	border: 1px solid #6648b1;
}

.btn-primary:hover{
	background-color: #563d7c;
	border: 1px solid #6648b1;
}

.jumbotron{
	padding: 1rem;
	border-radius: 0;
}

.padding{
	padding-bottom: 2rem;
}

.welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

.welcome hr{
	border: 2px solid #b4b4b4;
	width: 95%;
	margin-top: 0.3rem;
	margin-bottom: 1rem;
}

.fa-code{
	color: #e54d26;
}

.fa-bold{
	color: #563d73;
}

.fa-css3{
	color: #2163af;
}

.fa-code, .fa-bold, .fa-css3{
	font-size: 4em;
	margin: 1rem;
}

.fun{
	width: 100%;
	margin-bottom: 2rem;
}

.gif{
	max-width: 100%;
}

.social a{
	font-size: 4.5rem;
	padding: 3rem;
}

.fa-facebook{
	color: #3b5998;
}

.fa-twitter{
	color: #00aced;
}

.fa-google-plus-g{
	color: #dd4639;
}

.fa-instagram{
	color: #517fa8;
}

.fa-youtube{
	color: #bb0000;
}

.fa-whatsapp{
	color: green;
}

.fa-facebook:hover, .fa-twitter:hover, .fa-google-plus-g:hover, .fa-instagram:hover, .fa-youtube:hover, .fa-whatsapp:hover{
	color: #d5d5d5;
}

footer{
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
}

footer a{
	color: #d5d5d5;
}

hr.light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	margin-top: 0.8rem;
	margin-bottom: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
	.social a{
		font-size: 4em;
		padding: 2rem;
	}
	.box_3{
		width: 70%;
		margin-left: 2rem;
	}
  }
@media (max-width: 768px) {
  .carousel-caption{
		top: 45%;
	}


	.carousel-caption h1{
		font-size: 350%;
	}

	.carousel-caption h3{
		font-size: 140%;
		font-weight: 400;
		padding-bottom: 0.2rem;
	}

	.carousel-caption .btn{
		font-size: 95%;
		padding: 8px 14px;
	}

	.display-4{
		font-size:200%;
	}

	.social a{
		font-size: 2.4em;
		padding: 1.2rem;
	}

	.box_3{
		width: 80%;
		margin-left: 0rem;
	}
}
@media (max-width: 576px) {
	.carousel-caption{
		top: 40%;
	}


	.carousel-caption h1{
		font-size: 250%;
	}

	.carousel-caption h3{
		font-size: 110%;
	}

	.carousel-caption .btn{
		font-size: 90%;
		padding: 4px 8px;
	}
	.carousel-indicators{
		display: none;
	}
	.display-4{
		font-size:100%;
	}

	.social a{
		font-size: 2em;
		padding: 0.7rem;
	}
	.box_3{
		width: 100%;
		margin-left: 0rem;
	}
}


/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}


/*------------------------------------------------------------------*/


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
