<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fire Trade</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/logo.png') }}">

		<!-- bootstrap links -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<!--Style sheet link-->
		<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>

		    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">


	</head>


	<body style="background-color: #19191E">

    <!-- scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
		<!-- Navigation -->

		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

		<script src="{{ url_for('static', filename='scripts/select_data.js') }}"></script>




		<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top ">
		<div class="container-fluid" align="center">
		<a class="navbr-brand" href="#"><img src="{{ url_for('static', filename='Images/logo-min.png') }}"></a>
			<!--<div align="center" class="disp_title">
				Fire Trade
			</div>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href= '#'>
							<button class="btn btn-tertiary">
								<font>Home</font>
							</button>
						</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href= {{ url_for('.logout') }}>
							<button class="btn btn-tertiary">
								<font>Logout</font>
							</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
		</nav>

<!-- Navigation end-->
<!--Display the selector button-->
	<div class="container-fluid padding mt-2" align="center">
				<h3 class="display-5"><font color="#B7D9A3">Select 5 Stocks</font></h3>
		<span id="err_msg" style="color:#EC7063">
			{% if msg %}
				{{ msg }}
			{% endif%}
		</span></br>
			<select id="selector1" class="selectpicker col-lg-4 col-md-6 col-sm-12 col-xs-12" data-style="btn-info" multiple data-max-options="5">
				{% for i in itms.keys() %}
					<option value="{{ i }}">{{ itms[i] }}</option>
				{% endfor %}
			</select>
		<div class="row-padding mt-5" id="btn_sub" style="display: block;">
			<button type="button" name="button_submit" class="btn btn-primary" onclick="select_items()">Submit</button>
		</div>
		<!--<div class="row padding mt-5" id="load_btn" style="display: none;z-index: -1;">
			<h4><font color="#ffffff">Fire Trade AI Waking Up..........</h4>
		</div>-->

	</div>
	<div class="se-pre-con" id="loader"></div>
</body>
</html>
