<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Fire Trade</title>
		<link rel="icon" type="image/png" href="{{ url_for('static', filename='Images/logo.png') }}">

		<!-- bootstrap links -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

		<!--Style sheet link-->
		<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

    <link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>



	</head>

	<body style="background-color: #19191E">
    <!-- scripts-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<script src="{{ url_for('static', filename='scripts/verify.js') }}"></script>
		<!-- Navigation -->

		<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top ">
		<div class="container-fluid" align="center">
		<a class="navbr-brand" href={{ url_for('.index') }}><img src="{{ url_for('static', filename='Images/logo-min.png') }}"></a>
			<!--<div align="center" class="disp_title">
				Fire Trade
			</div>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href= {{ url_for('.index') }}>
							<button class="btn btn-tertiary">
								<font>Home</font>
							</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
		</nav>

<!-- Navigation end-->
<!--Sign in form start-->
	<div class="container-fluid padding" id="home">

		<div class="row padding">
			<div class="col-xs-2 col-sm-2 col-md-3 col-lg-4 col-xl-4" >
			</div>
			<div class="col-xs-8 col-sm-8 col-md-6 col-lg-4 col-xl-4" >
				<span id="mseg" style="color:#6FD917">
				</span>
				<div class="">
					<div class="panel panel-primarry">
						<div class="panel-heading">
							<font color="#65B700" size="5px" face="Courier New">
								<strong>FIRE TRADE &#x1F64F; Create Account </strong>
							</font>
						</div>
					</div>
							<!--<div class="input-group">
								<span class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></span>
								<input id="disp-name" type="text" class="form-control left-border-none" name="disp-name" placeholder="Display Name"></input>
							</div>-->

							<div class="wrap-input100">
								<input class="input100" id="disp-name" type="text" name="disp-name" placeholder="Display Name">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-user" aria-hidden="true"></i>
								</span>
							</div>

							<span id="err_name" style="color:#EC7063"></span>

							<!--<div class="input-group mt-2">
								<span class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<input id="email" type="email" class="form-control left-border-none" name="email" placeholder="Email"></input>
							</div>-->

							<div class="wrap-input100">
								<input class="input100" id="email" type="email" name="email" placeholder="Email">
								<span class="focus-input100"></span>
								<span class="symbol-input100">
									<i class="fa fa-envelope" aria-hidden="true"></i>
								</span>
							</div>

							<span id="err_mail" style="color:#EC7063"></span>

							<!--<div class="input-group mt-2">
								<span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
								<input id="password" type="password" class="form-control left-border-none" name="password" placeholder="password"></input>
							</div>-->

							<div class="wrap-input100 validate-input" data-validate = "Password is required">
							<input class="input100" id="password" type="password" name="password" placeholder="Password">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
						</div>

							<div id="err_pass" style="color:#EC7063">
	              {% if us %}
	                {{ us }}
	              {% endif %}
	            </div>

						<!--<div class="ml-0.5 mt-1">
							<button class="btn btn-secondary" id="sign_in" value="sign_in" onclick="sign_in()">Sign Up</button>
						</div>-->

						<div class="container-login100-form-btn">
							<button class="login100-form-btn" id="sign_in" value="sign_in" onclick="sign_in()">
								Signup
							</button>
						</div>

					</div>
				</div>
			</div>
	</div>
<!--sign in form end-->

</body>
</html>
